/* resetear css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* googele font */
body {
    font-family: "Roboto", sans-serif;
}

nav {
    background-color: #D5A6BD;
    width: 100%;
}

.nav-container {
    width: 70%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container h1 {
    color: #fff;
}

.nav-container span {
    color: #000;
}

.button-nav {
    display: flex;
    gap: 15px;
    align-items: center;
}

.button-nav a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.button-nav button {
    border: none;
    width: 110px;
    height: 30px;
    cursor: pointer;
}

.flores {
    width: 100%;
    background-color: #CCCCCC;
}

.flores-container {
    margin: 0 auto;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flores-container a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.container {
    width: 70%;
    margin: 25px auto;
}

header {
    text-align: center;
}

header h2 {
    margin-bottom: 25px;
}

header img {
    width: 85%;
}

.container section {
    width: 100%;
}

.result {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 32%;
    background-color: #CCCCCC;
    text-align: center;
    height: 210px;
    padding: 20px;
}

.card-img img {
    width: 100%;
}

.container-card {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.container-card button {
    background-color: #C27BA0;
    border: none;
    color: #fff;
    width: 35%;
    height: 25px;
}

.text-card {
    text-align: left;
}