/* resetear css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* googele font */
body {
    font-family: "Roboto", sans-serif;
}

nav {
    background-color: #D5A6BD;
    width: 100%;
}

.nav-container {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container h1 {
    color: #fff;
}

.nav-container span {
    color: #000;
}

.button-nav {
    display: flex;
    gap: 15px;
    align-items: center;
}

.button-nav a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.button-nav button {
    border: none; 
    width: 110px;
    height: 30px;
    cursor: pointer;
}
