/* resetear css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* googele font */
body {
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
}

nav {
    background-color: #4a3f35;
    margin-bottom: 30px;
}

.nav-container {
    width: 1000px;
    padding: 20px 40px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.nav-container h1 {
    color: #fff;
}

.nav-container input {
    border-radius: 20px;
    border: none;
    padding: 8px 15px;
    width: 350px;
    outline: none;
}

.nav-container button {
    background-color: #dbcec2;
    color: #333;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 7px;
    margin:  30px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    padding: 30px;
}

.card img {
    width: 540px;
    border-radius: 10px;
    border: 5px solid #ebd6ab; 
}

.card p {
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
}